* {
    background-color:#adb2e8;
}

h1{
    color: rgb(23, 82, 38);
    
    text-align: center;
    
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 20px;

    text-align: justify;
}

div{
    text-align: center;
}

img{
    border: 5px dashed black;
    border-radius: 50%;
    width: 100px;
}

ol{
    color: red;
    font-weight: 700;
}

ul{
    color: blue;
    font-style: italic;
    line-height: 2;
    text-transform: uppercase;
    text-decoration:underline;
}

a{
    text-decoration: none;
}